<!-- wp:template-part {"slug":"main-header","theme":"fse-tour-booking","tagName":"header"} /-->

<!-- wp:pattern {"slug":"fse-tour-booking/post-header-with-background"} /-->


<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
  
  <!-- wp:template-part {"slug":"page-content","theme":"fse-tour-booking","tagName":"div"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"fse-tour-booking","tagName":"footer"} /-->